// FOR USE EXCLUSIVELY WITH OLD PAGE

@font-face {
  font-family: Aileron;
  src: url(fonts/Aileron-Regular.otf);
}
@font-face {
  font-family: Aileron;
  src: url(fonts/Aileron-Black.otf);
  font-weight: bold;
}
@font-face {
  font-family: Aileron;
  src: url(fonts/Aileron-UltraLight.otf);
  font-style: thin;
}
body {
  background: url(../img/space.jpg) fixed;
  background-size: cover;
}

.ui.header {
  background: rgba(16, 103, 48, 0.6);
  color: #fef;
  padding: 3vh;
  text-align: left;
  text-shadow: 0.2vh 0.2vh #000;
}

.ui.header .sub.header {
  font-size: 18px !important;
  color: #fff;
  line-height: 3vh;
  font-weight: thin;
}

.ui.segment {
  background: rgba(199, 220, 192, 0.88);
}

.current {
  font-size: 25px;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  margin: 5px;
  background: rgba(199, 220, 192, 0.88);
}

.qtip {
  background-color: #c2e0b2 !important;
  border: #000;
  font-size: 13px;
}

a:hover {
  color: #c2e0b2 !important;
  text-shadow: 0.1vh 0.1vh #000 !important;
}

.ui.button {
  color: #404142;
  border: 1vh solid rgba(8, 55, 11, 0.4);
  background: #c2e0b2;
  box-shadow: 0.5vh 0.5vh 0.5vh 0.1vh rgba(8, 55, 11, 0.2);
}

.buy,
.sell {
  padding: 1vh;
}
.app.stats.textual span img {
  background: white;
}

i.inverted.bordered.blue.icon,
i.inverted.circular.blue.icon {
  background: #fff !important;
  color: #111 !important;
}

.ui.form input:not([type]),
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='email'],
.ui.form input[type='file'],
.ui.form input[type='number'],
.ui.form input[type='password'],
.ui.form input[type='search'],
.ui.form input[type='tel'],
.ui.form input[type='text'],
.ui.form input[type='time'],
.ui.form input[type='url'] {
  background: rgba(255, 255, 255, 0.8) !important;
  outline: none;
}

input[type='text']:focus {
  box-shadow: 0 0 5px rgb(169, 140, 204);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(169, 140, 204);
}

.ui.header > .image,
.ui.header > img {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  padding: 1vh;
  margin-right: 0.75rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input[type='text'],
textarea {
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  outline: none !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid #dddddd !important;
}

input[type='text']:focus,
textarea:focus {
  box-shadow: 0 0 5px rgb(169, 140, 204) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid rgb(169, 140, 204) !important;
}
